html, body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Nav menu */

.header {
    padding: 12px 25px;
}

.menu {
    max-width: 496px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

.menu_item {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}

.menu_link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    color: #828282;
}

.menu_link:hover {
    color: black;
}

.line {
  width: 970px;
  height: 1px; 
  background-color: #828282;
  margin: 25px 0 0;
  padding: 0 15px;
}

/* Main unit */


.title {
    font-size: 48px;
    margin: 0 0 50px;

}

.text p:not(:last-child){
    margin-bottom: 30px;
    text-align: center;
}


.section_adout {
    text-align: center;
    font-size: 35px;
    margin: 100px 0 50px;
}



