html, body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.header {
    padding: 28px 0;
}

.menu {
    max-width: 496px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

.line {
  width: 970px;
  height: 1px; 
  background-color: #828282;
  margin: 25px 0 0;
  padding: 0;
}

.menu_item {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}

.menu_link {
    text-decoration: none;
    font-size: 18px;
}

.title {
    font-size: 48px;
    margin: 0 0 50px;

}

#banner {
    max-width: 970px;
    
}

.text p:not(:last-child){
    margin-bottom: 110px;
    text-align: center;


}

.title_one {
    text-align: center;
    font-size: 35px;
    margin: 100px 0 50px;
}

.title_two {
    text-align: center;
    padding: 100px;
    font-size: 35px;
}



