html, body {
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

/* Nav menu */

.header {
    padding: 12px 25px;
}

.menu {
    max-width: 496px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

.menu_item {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;
}

.menu_link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    color: #828282;
}

.menu_link:hover {
    color: black;
}

.line {
  width: 970px;
  height: 1px; 
  background-color: #828282;
  margin: 25px 0 0;
  padding: 0 15px;
}

/* Main unit */
/* Title */
.title {
    font-size: 48px;
    margin: 0 0 50px;
}

.container img {
    max-width: 970px;
}

/* About */
.about {
    background-color: #E5E5E5;
    padding: 100px 0;
}
.about_section {
    font-size: 35px;
    text-align: center;
}

.text_about p:not(:last-child) {
    margin-bottom: 30px;
    text-align: center;
}

.text_about {
    text-align: center;
}

/* Skills */

.skills {
    padding: 100px 0 150px;
}
.skills_section {
    font-size: 35px;
    text-align: center;
}

.skills h3 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 50px;
}

/* icon_block */

.product_list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 97px;
}

.icon_block {
    text-align: center;
    width: 170px;
    height: 230px;
}

.icon_block img {
    width: 80px;
    height: 80px;
}
.icon_block h4 {
    color: #828282;
    margin: 25px 0 60px;
}

.icon_stars li {
    display: inline-block;
    margin: 0 1px;
}

.icon_stars {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon_stars img {
    width: 25px;
    height: 25px;
}

/* Portfolio */
.portfolio {
    background-color: #E5E5E5;
    padding: 100px 0 50px;
}


.portfolio_section {
    font-size: 35px;
    text-align: center;
    margin: 0 0 50px;
}

.picture h2 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin: 40px 0 70px;
}

/* Footer */

.footer {
    padding: 100px 0 100px;
}

.contact {
    text-align: center;
    font-size: 35px;
}

.section_contact h3 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 60px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    height: 44px;
    background: black;
    border-radius: 100px;
    border: none;
    color: #E5E5E5;
    display: block;
    margin: 0 auto;
}

.link_messenger li {
    display: inline-block;
    margin: 0  15px;
}
.link_messenger {
    list-style: none;
    text-align: center;
    padding: 0;
    margin:  30px;
    
}

.link_messenger img {
    width: 50px;
    height: 50px;
}

